* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color:white;
  font-family: helvetica;
  font-size: 16px
}

h1{
  font-size: 48px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

#masthead a, #footer a {
  text-decoration: none;
  color: white;
}

.card {
  width: 300px;
  height: 350px;
  margin:5px;
  padding-bottom: 5%;
  background-color: white;
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

tr, td, th {
  border: 2px solid black;
}

th {
  background-color: black;
  color: white;
}


#social-links {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
 }

#social-links a {
  text-decoration: none;
  color: white;
}

#hero-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.page-row {
  width: 100%;
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
